<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta charset="UTF-8">
  <title>CristianGHC.web</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">          
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">




</head>
<body>

  <header>
    
    <div class="header-container">
      <img src="/img/Img-CV.jpg" alt="Logo CristianGHC" class="header-img">
      <div class="header-text">
        <h1>Cristian Gustavo Hernández Cruz</h1>
        <p>Ingeniero informático - Especialidad en desarrollo de software<br></p>
      </div>
    </div>

  </header>

  <nav id="menu">
    <ul>
      <li><a href="#sobre-mi">Sobre mí</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#habilidades">Habilidades</a></li>
       <li><a href="#galeriaCertificados">Certificados</a></li>
    </ul>
  </nav>

  <main>
    <section id="sobre-mi">
      <div class="columna-container">
      <div class="columna">
        <h2>Sobre mí</h2>
        <ul>
            <p class="justificado">
            <br> Mucho gusto, mi nombre es Cristian Gustavo Hernández Cruz, soy egresado del Tecnológico Nacional de México Campus Tijuana en la carrera de Ingeniería Informática con especialidad en desarrollo de software.
            <br><br> Me gusta la creación y elaboración que conlleva realizar un software, desde planificar los tiempos y tareas hasta la misma creación y puesta en prueba del software.
            <br><br> Estaré muy agradecido de poder trabajar para una empresa que necesite de mis habilidades para elaborar algún proyecto.
            <br> </p>  
        </ul>
      </div>
      <div class="columna">
        <h2>Educación</h2>
        <ul>
          <h2>Universidad (2019-2025)</h2>
          <p class="justificado">Tecnológico Nacional de México Campus Tijuana unidad Tomas Aquino</p>
          <p class="justificado">Carrera: Ingeniería Informática con Especialidad en desarrollo de Software</p>
          <br>
          <h2>Preparatoria (2015-2018)</h2>
          <p class="justificado">Colegio Nacional de Educación Pública Plantel Tijuana 1</p>
          <p class="justificado">Carrera técnica: Soporte y Mantenimiento de Equipo de Cómputo (SOMA)</p>
        </ul>
      </div>
      </div>
    </section>

    <section id="proyectos">
      <h2>Proyectos</h2>
        <div class="card-container">

          <div class="card">
            <h3>Portafolio Web</h3>
            <p>Portafolio profesional para mostrar mis conocimientos y habilidades.</p>
            <br>
            <p>Objetivo:</p>
            <p class="justificado">Elaborar un sitio web que funcione como portafolio profesional para mostrar mi perfil profesional a los visitantes del sitio.
            </p> 
            <div class="button-container">
              <a href="https://www.figma.com/proto/CuPGwjxAiGeY91CVdgTmKh/El-equipo-de-Cristian-Gustavo-Hern%C3%A1ndez-Cruz-team-library?node-id=3311-538&p=f&t=HooVkwgm7w70fdrE-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=3311%3A538" target="_blank" class="card-button">Ver prototipo</a> 
              <a href="https://drive.google.com/drive/folders/1e9bKcxlRPccMkV9orolc82R35X0Dk09t?usp=sharing" class="card-button">Ver documentación</a>
              <a href="https://github.com/CristianHernandezDev/PortafolioProfesionalDigital" class="card-button">Ver repositorio</a> 
            </div>
          </div>
          
          <div class="card">
            <h3>Software para ejercitar la memoria a corto y largo plazo</h3>              
            <p>Proyecto elaborado como parte de residencia interna en la escuela donde estudie mi carrera universitaria.</p>
            <br>
            <p>Objetivo:</p>
            <p class="justificado">Elaborar un software funcional para dispositivos móviles donde se ejercite la memoria a corto 
              y largo plazo y, a su vez, informar a los usuarios la importancia de ejercitar dichas memorias<br>
            </p>        
            <div class="button-container">
              <a href="https://www.figma.com/proto/BaDXpwDXb0DxBlscMrNdUI/Sistema-para-ejercitar-la-memoria-a-corto-y-largo-plazo?node-id=5-4&starting-point-node-id=2%3A11&t=xxwskzpiY5Ve1Yj7-1" target="_blank" class="card-button">Ver prototipo</a> 
              <a href="https://drive.google.com/drive/folders/1LhiVIqCZzpPLKxDTKrlF7VBMoL_Fr-1N?usp=sharing" target="_blank" class="card-button">Ver documentación</a>
              <a href="https://github.com/CristianHernandezDev/Recordando" target="_blank" class="card-button">Ver repositorio</a> 
            </div>
          </div>
          
        </div>
    </section>

    <section id="habilidades">
      
      <h2>Habilidades técnicas</h2>
        <div class ="skills-container">

          <div class="skill-card">
            <h3>Lenguajes de programación</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="CSharp"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original-wordmark.svg" />
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" alt="Python"/>          
            </div>
          </div>

          <div class="skill-card">
            <h3>Desarrollo Front End</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" alt="HTML5"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" alt="CSS3"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="JavaScript"/>     
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" alt="Bootstrap"/>
            </div>
          </div>

          <div class="skill-card">
            <h3>Desarrollo Back End</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" alt="Nodejs"/>  
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain-wordmark.svg"  alt="DJango"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original-wordmark.svg" alt="Express"/>
          
            </div>
          </div>

          <div class="skill-card">
            <h3>Bases de datos</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" alt="MongoDB"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-plain-wordmark.svg" alt="FireBase"/>
            </div>
          </div>
        
          <div class="skill-card">
            <h3>Sistemas de gestión de bases de datos</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="MySQL"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg" alt="PostgreSQL"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-original-wordmark.svg" alt="MicrosoftSQLServer"/>
            </div>
          </div>

          <div class="skill-card">
            <h3>Herramientas de Diseño</h3>
            <div class="icons">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/canva/canva-original.svg" alt="Canva"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" alt="Figma"/>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-original.svg" alt="PS" />
            </div>
          </div>
        </div>


        <div class="subtitulo"><h2>Habilidades blandas</h2></div>
        <div class="grid-habilidad">

          <div class="habilidad">
            <span class="nombre">Comunicación</span>
            <span class="estrellas">★★★★☆</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Trabajo en equipo</span>
            <span class="estrellas">★★★★★</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Creatividad</span>
            <span class="estrellas">★★★★★</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Adaptabilidad</span>
            <span class="estrellas">★★★★☆</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Gestión del tiempo</span>
            <span class="estrellas">★★★★★</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Comunicación efectiva</span>
            <span class="estrellas">★★★★☆</span>
          </div>
        
          <div class="habilidad">
            <span class="nombre">Toma de desiciones</span>
            <span class="estrellas">★★★★☆</span>
          </div>

          <div class="habilidad">
            <span class="nombre">Atención al detalle</span>
            <span class="estrellas">★★★★★</span>
          </div>

        </div>
    </section>

    <section id="galeriaCertificados">
      <h2>Certificados</h2>
      <div class="galeria">

        <div class="certificados">
          <div class="item">
            <h3>Diseñador UX<br><br></h3>
            <img src="/img/certificadoDiseñadorUX.jpg" alt="Certificado-UX" onclick="abrirLightbox(this)">
          </div>
          <div class="item">
            <h3>Curador de datos<br><br></h3>
            <img src="/img/certificaciónCuradorDatos.jpg" alt="Certificado-CuradorD" onclick="abrirLightbox(this)">
          </div>
          <div class="item">
            <h3>Desarrollador Front End</h3>
            <img src="/img/certificadoDesarrolladorFrontEnd.jpg" alt="Certificado-FrontEnd" onclick="abrirLightbox(this)">
          </div>
          <div class="item">
            <h3>Diseño de portafolio profesional</h3>
            <img src="/img/diseñoPortafolioDesarrolladores.jpg" alt="Certificado-FrontEnd" onclick="abrirLightbox(this)">
          </div>
        </div>

      </div>

      <div id="lightbox" class="lightbox"> 
        <span onclick="cerrarLightbox()">×</span> 
        <img id="imagenGrande" src="" alt=""> 
      </div>

    </section>
    
    <section id="contacto">
        <h2>Contacto</h2>
        <div class="contact-container">
        <div class="contact-item"><i class="fa-solid fa-envelope"></i> cristian.hrdzc12@gmail.com</div>
        <div class="contact-item"><i class="fa-solid fa-phone"></i>+52 664 755 0888</div>
        <div class="contact-item"><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/cristian-gustavo-hernández-cruz" target="_blank" rel="noopener noreferrer">Cristian Gustavo Hernández Cruz</a></div>
        <div class="contact-item"><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/cristiansdev" target="_blank" rel="noopener noreferrer">@CristianSDev</a></div>
        <div class="contact-item"><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/people/Cristian-Hern%C3%A1ndez-Dev/pfbid0fJAayWoTdb9NYQz8eX6sbVM3qWR39QPQ1MjAMEpLyNFqp8Ad5gYA5Yjzy3vkpdo4l/" target="_blank" rel="noopener noreferrer">Cristian Hernandez Dev</a></div>
        </div>
    </section>


    <footer>
      <p>&copy; 2026. Esta obra está licenciada abiertamente a través de CC BY-NC-ND<br>CristianGHC.web <br>Portafolio profesional digital</p>
    </footer>


    
  </main>

<script>
  const sections = document.querySelectorAll("section");
  const navLinks = document.querySelectorAll("nav a");

  window.addEventListener("scroll", () => {
    let current = "";

    sections.forEach(section => {
      const sectionTop = section.offsetTop;
      if (pageYOffset >= sectionTop - 60) {
        current = section.getAttribute("id");
      }
    });

    navLinks.forEach(link => {
      link.classList.remove("active");
      if (link.getAttribute("href") === "#" + current) {
        link.classList.add("active");
      }
    });
  });  
</script>

<script>
  const menu = document.getElementById("menu");
  const header = document.querySelector("header");

  window.addEventListener("scroll", () => {
    if (window.scrollY >= header.offsetHeight) {
      menu.classList.add("sticky");
    } else {
      menu.classList.remove("sticky");
    }
  });
</script>

<script src="/certificados.js"></script>
<script src="/paginaPrincipal.js"></script>


</body>
</html>
